@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('../fonts/Amatic-SC/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/Roboto/Amatic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
